<!DOCTYPE html>
<html>
<head>
  <title>Sportmatch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
	<% if signed_in? %>
<nav class="navbar navbar-default navbar-fixed-top">

		<%= render 'shared/signed_in_nav' %>
		
</nav>
<% end -%>
<%= render partial: "shared/flash_messages", flash: flash %> 
<%= yield %>

</body>
</html>
